input{
  border: 1px solid #FFBD00;
  border-radius: 1rem;
  font-size: 12px;
  padding: 0.75rem;
  outline: none;
  display: flex;
  margin: 0.5rem;
}

input::placeholder{
  color: #FFBD00;
}

.form-control{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control button{
  border: solid 1px #FFBD00;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #FFBD00;
  transition: 100ms;

}

.form-control button:hover{
  background-color: #FFBD00;
  color: white;
  transition: 100ms;
}
