.container{
  display: flex;
  align-items: center;
  gap: 2rem;
  background-image: url(../../../public/images/bg-home.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 92.5vh;
  color: white;
  border-bottom: 2vh solid #FFBD00;
  overflow: hidden;
}

.container div{
  width: 50%;
  padding: 80px;
}

.container h1{
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 78px;
  line-height: 70px;
}

.container a{
  color: black;
  background-color: #FFBD00;
  border: none;
  border-radius: 20px 20px 20px 0;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 30px;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.4s;
}

.container a:hover{
  background-color: #FF5400;
  color:white;
  transition: all 0.4s;
}




