.recipes-sidebar{
  width: 60%;
  /* background-color: #CCC; */
  text-align: center;
}

.recipes-sidebar input{
  border: 1px solid #FFBD00;
  font-size: 16px;
  padding: 14px 10px;
  outline: none;
  display: flex;
  margin-bottom: 20px;
  width: 400px;
}


.recipes-sidebar input::placeholder{
  color: #FFBD00;
}

.filter{
  height: 200px;
  width: 100%;
  background-color: #FFBD00;
}

.recipes{
  margin: 20px 0 20px 0;
  display: flex;
  gap: 20px;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  text-decoration: underline;
}

.recipes button{
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.more-infos{
  background-color: #FFBD00;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 2.5rem;
}

.box-recipe{
  display: flex;
  width: 25%;
  display: flex;
  flex-direction: column;
}
